
.app-root {
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #1E1E1E; /* ya está en index.css pero lo repetimos por seguridad */
}
